<footer class="page-footer font-small mdb-color lighten-3 pt-4 fooder hhamburguesa">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Conoce más de nosotros</h5>
        <p>Somos una empresa nueva, pero no por eso inexpertas en el ámbito culinario, conozcamos con un sueño dos persona,
          alas que poco a poco se han ido uniendo para fortalecer más y más cada día, nos distingue ser una empresa aguerrida,
          triunfadora y deseosa de salir adelante en la cocina mexicana.</p>
        <p>Deseamos tu confianza y tu lealtad y nosotros te ofrecemos un gran servicio para que compartas con tu acompañante
          en un ambiente 100% familiar.</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">MENU</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="hamburguesas.html">HAMBURGUESA</a>
            </p>
          </li>
          <li>
            <p>
              <a href="tacos.html">TACOS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="alitas.html">ALITAS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">PAPAS A LA FRANCESA</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">POZOLE</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">PANCITA</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BEBIDAS</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">UBICACIÓN</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Calle Adolfo López Mateos Lt. 69 Col. Nopalcalc,o Pachuca Hidalgo</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> labellaairosa@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          </li>
          <li>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 89</p>
          </li>
        </ul>
      </div>
      <!-- fin de links -->

      <!-- INICIO DE REDES SOCIALES -->

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Redes Sociales</h5>
        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
      </div>
      <!-- FIN DE REDES SOCIALES -->

      <!-- Footer galeria -->
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4">
            <div class="view overlay z-depth-1-half">
              <img src="../../assets/img/hambuergesa-01.jpg" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
              <img src="../../assets/img/tacos-04.jpg" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
              <img src="../../assets/img/alitas-01.jpg" class="img-fluid" alt="">
              <!-- <a href="">
                <div class="mask rgba-white-light">hola</div>
              </a> -->
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4">
            <div class="view overlay z-depth-1-half">
              <img src="../../assets/img/hambuergesa-04.jpg" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
              <img src="../../assets/img/tacos-02.jpg" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="view overlay z-depth-1-half">
              <img src="../../assets/img/alitas-02.jpg" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- FIN GALERIA FOOTER -->
      <div class="fooder-01">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> angel_cs02@hotmail.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>
