<div>
    <img src="../../assets/img/h-banner-alitas.jpg" class="d-block w-100 sombra" alt="">
</div>

<div class="card-deck hhamburguesa">
    <div class="card">
        <!-- llamada modal 1 -->
        <a data-toggle="modal" data-target=".bd-example-modal-xl">

            <img src="../../assets/img/alas fritas-01.jpg" width="286" height="274" class="card-img-top" alt="...">
        </a>
        <!-- fin de llamada modal 1 -->
        <div class="card-body">
            <h1>$45°°</h1>
            <h5 class="card-title">ALITAS FRITAS</h5>
            <p class="card-text">*5 Alitas de pollo, lechuga y papas fritas.</p>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
            </p>
        </div>
    </div>



    <!-- Modal 1-->
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/alas fritas-01.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- fin modal 1 -->

    <div class="card">
        <!-- modal 2 llamada -->
        <a data-toggle="modal" data-target=".bd-example1-modal-xl">
            <img src="../../assets/img/alas picantes-01.jpg" width="286" height="274" class="card-img-top" alt="...">
        </a>
        <!-- finde llamada 2 -->
        <div class="card-body">
            <h1>$45°°</h1>
            <h5 class="card-title">ALITAS PICANTES</h5>
            <p class="card-text">*5 Alitas de pollo, lechuga y papas fritas.</p>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
            </p>
        </div>
    </div>

    <!-- Modal 2-->
    <div class="modal fade bd-example1-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/alas picantes-01.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- fin modal 2 -->




    <div class="card">

        <!-- modal 2 llamada -->
        <a data-toggle="modal" data-target=".bd-example2-modal-xl">
            <img src="../../assets/img/alas hawainas-01.jpg" width="286" height="274" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h1>$45°°</h1>
            <h5 class="card-title">ALITAS HAWAIANA</h5>
            <p class="card-text">*5 Alitas de pollo, piña, lechuga y papas fritas.</p>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
            </p>
        </div>
    </div>

    <!-- Modal 2-->
    <div class="modal fade bd-example2-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/alas hawainas-01.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- fin modal 2 -->


    <div class="card">

        <!-- modal 2 llamada -->
        <a data-toggle="modal" data-target=".bd-example3-modal-xl">
            <img src="../../assets/img/alas bbq-01.jpg" width="286" height="274" class="card-img-top" alt="...">
        </a>

        <div class="card-body">
            <h1>$45°°</h1>
            <h5 class="card-title">ALITAS EN SALSA BBQ</h5>
            <p class="card-text">*5 Alitas de pollo, BBQ, lechuga y papas fritas.</p>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
            </p>
        </div>
    </div>

    <!-- Modal 2-->
    <div class="modal fade bd-example3-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/alas bbq-01.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- fin modal 2 -->







</div>