<div >
    <img src="../../assets/img/banner-contactos-01.jpg" class="d-block w-100 sombra" alt="">
</div>

<section class="form_wrap">
    <section class="contact_info">
      <section>
        <section class="info_title">
          <span class="fa fa-user-circle"></span>
          <h2>INFORMACIÓN <br>DE CONTACTO</h2>
        </section>
        <section class="info_items">
          <p><span class="fa fa-envelope"></span>labellaairosa@gmail.com</p>
          <p><span class="fa fa-mobile"></span>5522556499</p>
        </section>
      </section>
    </section>
    <form action="" class="form_contact">
      <h2>Enviar Mensaje</h2>
      <div class="user_info">
        <label for="name">Nombre *</label>
        <input type="text" id="names">

        <label for="phone">Telefono/Celular *</label>
        <input type="text" id="phone">

        <label for="imail">Correo Electronico *</label>
        <input type="email" id="imail">

        <label for="Mensaje">Mensaje *</label>
        <textarea id="Mensaje" ></textarea>

        <input type="button" value="Enviar Mensaje" id="btnSend">
      </div>
    </form>
</section>

  