<div >
    <img src="../../assets/img/h-banner-tacos.jpg" class="d-block w-100 sombra" alt="">
</div>
  
  <div class="card-deck hhamburguesa">
          <div class="card">
            <!-- llamada modal 1 -->
              <a data-toggle="modal" data-target=".bd-example-modal-xl">
             
              <img src="../../assets/img/t-bistec.jpg"  width="286" height="274" class="card-img-top" alt="...">
              </a>
              <!-- fin de llamada modal 1 -->
            <div class="card-body">
                <h1>$18°°</h1>
              <h5 class="card-title">TACOS DE BISTEC</h5>
              <p class="card-text">*Bistec, cilantro y cebolla.
                  *Guarnición: Alubias, Ensalada de Nopales.
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          
            
            <!-- Modal 1-->
            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  
                  <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/t-bistec.jpg"  class="img-fluid" alt="">
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- fin modal 1 -->

          <div class="card">
            <!-- modal 2 llamada -->
              <a data-toggle="modal" data-target=".bd-example1-modal-xl">
                <img src="../../assets/img/t-longaniza.jpg"  width="286" height="274" class="card-img-top" alt="...">
              </a>
              <!-- finde llamada 2 -->
              <div class="card-body">
                  <h1>$18°°</h1> 
                <h5 class="card-title">TACOS DE LONGANIZA</h5>
                <p class="card-text">*Longaniza, cilantro y cebolla.
                  *Guarnición: Alubias, Ensalada de Nopales.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
          
           <!-- Modal 2-->
           <div class="modal fade bd-example1-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  
                  <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/t-longaniza.jpg"  class="img-fluid" alt="">
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- fin modal 2 -->

        
            
          
          <div class="card">

            <!-- modal 2 llamada -->
            <a data-toggle="modal" data-target=".bd-example2-modal-xl">
            <img src="../../assets/img/t-cecina.jpg"  width="286" height="274" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                  <h1>$18°°</h1>
              <h5 class="card-title">TACOS DE CECINA</h5>
              <p class="card-text">*Cecina, cilantro y cebolla.
                  *Guarnición: Alubias, Ensalada de Nopales.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <!-- Modal 2-->
          <div class="modal fade bd-example2-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  
                  <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/t-cecina.jpg"  class="img-fluid" alt="">
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- fin modal 2 -->


          <div class="card">

              <!-- modal 2 llamada -->
              <a data-toggle="modal" data-target=".bd-example3-modal-xl">
                <img src="../../assets/img/t-campechano.jpg"  width="286" height="274" class="card-img-top" alt="...">
              </a> 

            <div class="card-body">
                  <h1>$18°°</h1>
              <h5 class="card-title">Tacos Campechanos</h5>
              <p class="card-text">*Combinación al gusto, cilantro y cebolla.
                  *Guarnición: Alubias, Ensalada de Nopales.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <!-- Modal 2-->
          <div class="modal fade bd-example3-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  
                  <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="../../assets/img/t-campechano.jpg"  class="img-fluid" alt="">
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- fin modal 2 -->




